# Environment Variables Template
ASPNETCORE_ENVIRONMENT=Production
PORT=8080
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=us-east-1
Api__EnableBodyLogging=true
Worker__EnablePayloadLogging=true

Database__DefaultConnection=Host=your-neon-host.aws.neon.tech;Database=neondb;Username=neondb_owner;Password=your-password;SSL Mode=Require;Trust Server Certificate=true
Redis__ConnectionString=your-upstash-redis.upstash.io:6379,password=your-password,ssl=True,abortConnect=False

Finnhub__ApiBaseUrl=https://finnhub.io/api/v1
Finnhub__ApiKey=YOUR_FINNHUB_KEY
Finnhub__SyncIntervalMinutes=30

Jwt__Audience=InventoryAlert.Web
Jwt__Issuer=InventoryAlert.Api
Jwt__Key=YourSuperSecret32CharKeyHere!!!!!!!

Aws__EndpointUrl=http://moto_prod:5000
Aws__SnsTopicArn=arn:aws:sns:us-east-1:123456789012:inventory-events
Aws__SqsQueueUrl=http://moto_prod:5000/123456789012/inventory-event-queue
Aws__SqsDlqUrl=http://moto_prod:5000/123456789012/inventory-event-dlq

NEXT_PUBLIC_API_URL=http://localhost:8090
